In [9]:
from erddapy import ERDDAP

server = "http://coastwatch.pfeg.noaa.gov/erddap"

e = ERDDAP(server=server, protocol="tabledap")

Map of the study area

In [10]:
from ipyleaflet import FullScreenControl, Map, Rectangle

min_lon, max_lon = -126, -122
min_lat, max_lat = 48, 50

rectangle = Rectangle(bounds=((min_lat, min_lon), (max_lat, max_lon)))

m = Map(
    center=((min_lat + max_lat) / 2, (min_lon + max_lon) / 2),
    zoom=6,
)

m.add_layer(rectangle)
m.add_control(FullScreenControl())

In [11]:
m

Map(center=[49.0, -124.0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_o…

NBDC Data Access - Waves and wind

In [12]:
e.dataset_id = "cwwcNDBCMet"

e.variables = [
    "station",
    "time",
    "latitude",
    "longitude",
    "wvht",
    "dpd",
    "mwd",
    "wd",
    "wspd",
    "wtmp"
]

In [13]:
e.constraints = {"time>=":"2023-08-01T00:00:00Z",
                "station=":"46087"}

In [14]:
df = e.to_pandas()

In [15]:
df

,station,time (UTC),latitude (degrees_north),longitude (degrees_east),wvht (m),dpd (s),mwd (degrees_true),wd (degrees_true),wspd (m s-1),wtmp (degree_C)
0,46087,2023-08-01T00:00:00Z,48.494,-124.727,NaN,NaN,NaN,260.0,3.0,NaN
1,46087,2023-08-01T00:10:00Z,48.494,-124.727,0.6,NaN,278.0,260.0,3.0,13.0
2,46087,2023-08-01T00:20:00Z,48.494,-124.727,0.6,5.0,278.0,250.0,3.0,NaN
3,46087,2023-08-01T00:30:00Z,48.494,-124.727,NaN,NaN,NaN,260.0,3.0,13.2
4,46087,2023-08-01T00:40:00Z,48.494,-124.727,NaN,NaN,NaN,270.0,3.0,13.2
...,...,...,...,...,...,...,...,...,...,...
904,46087,2023-08-08T22:00:00Z,48.494,-124.727,NaN,NaN,NaN,220.0,2.0,12.3
905,46087,2023-08-08T22:10:00Z,48.494,-124.727,NaN,NaN,NaN,210.0,2.0,11.8
906,46087,2023-08-08T22:20:00Z,48.494,-124.727,0.7,8.0,239.0,220.0,2.0,12.1
907,46087,2023-08-08T22:40:00Z,48.494,-124.727,NaN,NaN,NaN,240.0,2.0,12.4
908,46087,2023-08-08T22:50:00Z,48.494,-124.727,0.7,8.0,251.0,240.0,2.0,12.3

In [16]:
df['time (UTC)'].max()

'2023-08-08T22:50:00Z'

In [17]:
recent = df.sort_values('time (UTC)').tail(1)

In [18]:
recent

,station,time (UTC),latitude (degrees_north),longitude (degrees_east),wvht (m),dpd (s),mwd (degrees_true),wd (degrees_true),wspd (m s-1),wtmp (degree_C)
908,46087,2023-08-08T22:50:00Z,48.494,-124.727,0.7,8.0,251.0,240.0,2.0,12.3

Most recent wave height

In [19]:
recent['wvht (m)'].values[0]

0.7

Most recent dominant wave period

In [20]:
recent['dpd (s)'].values[0]

8.0

Most recent wave direction

In [21]:
recent['mwd (degrees_true)'].values[0]

251.0

In [22]:
recent['wspd (m s-1)'].values[0]

2.0

In [23]:
recent['wd (degrees_true)'].values[0]

240.0

In [24]:
recent['wtmp (degree_C)'].values[0]

12.3

In [25]:
print(f"The primary swell at Neah Bay is {recent['wvht (m)'].values[0]} meters at {recent['dpd (s)'].values[0]} seconds coming from {recent['mwd (degrees_true)'].values[0]} degrees")

The primary swell at Neah Bay is 0.7 meters at 8.0 seconds coming from 251.0 degrees

In [26]:
print(f"The wind is blowing {recent['wspd (m s-1)'].values[0]} meters per second from {recent['wd (degrees_true)'].values[0]} degrees")

The wind is blowing 2.0 meters per second from 240.0 degrees

In [27]:
print(f"The water is {recent['wtmp (degree_C)'].values[0]} degrees celcius")

The water is 12.3 degrees celcius

NOS/Co-Ops Data - Tides

In [28]:
server = "http://coastwatch.pfeg.noaa.gov/erddap"

e = ERDDAP(server=server, protocol="tabledap")

In [29]:
e.constraints = {"time>=":"2023-08-01T00:00:00Z",
                "stationID=":"9443090"}

In [30]:
#e.dataset_id = "nosCoopsWLTPHL"
e.dataset_id = "nosCoopsWLTP60"

e.variables = [
    "stationID",
    "time",
    "predictedWL"
]

In [33]:
df = e.to_pandas()

df.sort_values('time (UTC)').tail(1)

     stationID            time (UTC)  predictedWL (m)
192    9443090  2023-08-09T00:00:00Z            2.012